AuthType Basic
AuthName "Administrationszugang"

# Type the correct absolute path to a htusers file  
AuthUserFile /var/www/.htusers

# Type the user you want to access to admin scripts
<Files admin*>
  Require user ubook
</Files>

#Options +ExecCGI
#DirectoryIndex index.php

