<form action="add.php" method="post">
    <fieldset><legend>Buch anbieten...&nbsp;</legend>
        <input type="text" name="name" value="" class="boogy" title="leave this blank" />

        <!-- begin wrongIsbn -->
        <div class="infobox">
            Die eingegebene ISBN ist nicht korrekt.
        </div>
        <!-- end wrongIsbn -->
        <label for="isbn">ISBN</label>
        <input type="text" id="isbn" name="isbn" value="'isbn'" class="block" />
        <!-- begin isbnSubmit -->
        <input type="submit" name="isbnQuery" value="Rest automatisch füllen" />
        <!-- end isbnSubmit -->
        <label for="mail">Nachname, Vorname der Autorin / des Autor</label>
        <input type="text" id="mail" name="mail" value="'author'" class="block" />
        <label for="title">Titel des Buches</label>
        <input type="text" id="title" name="title" value="'title'" class="block" />

        <div style="float: left; margin-right: 2em;">
            <label for="year">Erscheinungsjahr</label>
            <input type="text" id="year" name="year" value="'year'" size="6" />
        </div>

        <div style="float: right; margin-bottom: 0.5em;">
            <label for="price">Dein Preis</label>
            <input type="text" id="price" name="price" value="'price'" size="6" />&nbsp;&euro;
        </div>

        <label for="category0" style="clear: both;">Kategorien</label>
        'categories'
        <!-- begin wrongMail -->
        <div class="infobox">
            Es wurde keine vollständige E-Mailadresse eingegeben. Über diese
            E-Mailadresse wirst du informiert, wenn sich jemand für dein Buch
            interessiert. Sie wird jedoch nicht veröffentlicht.
        </div>
        <!-- end wrongMail -->
        <label for="author" style="clear: both;">Deine E-Mailadresse</label>
        <input type="text" id="author" name="author" value="'mail'" class="block" />
        <label for="desc">Weiteres</label>
        <textarea id="desc" name="desc" cols="24" rows="10">'description'</textarea>
        <input type="submit" value="Anbieten" />
    </fieldset>
</form>
