<h2>Statistiken</h2>
<!-- begin noStats -->
<div class="text">
    <p>
        Zur Zeit werden keine Statistiken geführt.
    </p>
</div>
<!-- end noStats -->
<!-- begin stats -->
<div class="text">
    <p>
        Es werden regelmäßig Kennzahlen aus der Datenbank ausgelesen und in eine
        <a href="'statsFile'">Statistikdatei</a> geschrieben.
        Insgesamt wurden bereits 'total' Buchangebote auf dieser Seite erstellt.
        Davon sind noch 'books' zu haben. 'offerors' Anbieter bieten
        durchschnittlich 'booksPerOfferor' Bücher an. Es wurden 'images' Bilder
        hochgeladen, womit 'imageFraction'% der Angebote bebildert sind.
    </p>
</div>
<!-- end stats -->
<!-- begin image -->
<img alt="Diagram" src="'url'" /><br />
<!-- end image -->
